<html>
<head>
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>

    <script src="/app/systemjs.config.js"></script>

    <base href="/">
</head>

<body>
    <h1>Security Lockout</h1>
    Coming Soon
</body>
</html>
