################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColorComboDemo/src/ColorComboDemo/bin/Debug/netcoreapp1.0
